{% extends "blog/base.html" %}
{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'blog\main.css' %}">
    
    <div class="box-element product"><p><strong>Kamat /</strong> About</p></div>

    <body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
                    
                    <hr>
                    <h4>Hi I'm Bishruti!</h4>
                    <p>Studying BIM student at <br><strong>St. Xavier's College</strong>. <br>This is my summer project.</p>
                    <p>Roll No.: 017BIM013 <br> BIM 2017 Batch <hr> T.U. Registration No.: 1232131241 <br> Symbol No.: 1231243</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100  border-info">
                    <h4>My Summer Project : KAMAT</h4>
                    <hr>
                    <p>Kamat is E-farming portal for the farmers to guide and provide necessary information about
                        cultivation. This website is designed to provide knowledge to amateur farmers well as for the
                        people who are earning their livelihood through agriculture.</p>

                    <p>This website provides various resources related to seeds, pesticide, fertilizers which are vital for farmers. </p>

                    <p>TThis project is visualized to make available relevant information and services to the farming community and private sector through the use of information technology.</p>

                    <p>
                    Once you enter in Kamat, farmers can get access to relevant knowledge about the existing agricultural situation, seasonal farming, seeds, economic plant, important crops, and new plant.</p>
                    <!--
                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images\facebook.png' %}"></li>
                        <li><img class="social" src="{% static 'images\linkedin.png' %}"></li>
                        <li><img class="social" src="{% static 'images\twitter.png' %}"></li>
                        <li><img class="social" src="{% static 'images\youtube.png' %}"></li>
                    </ul>
                -->

                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Outcomes of the Project</h5>
                    <hr>
                    <p>Learnt to build Django web application.</p>
                    <p>Designed, built and managed a website supporting agriculture as a sole developer. Created UI for Login/Signup and a customer dashboard.</p>
                    </div>
            </div>
            
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>Tools I have Used</h5>
                    <hr>
                    <p>Python, Django, HTML/CSS, JavaScript/Jquery and a others I can’t possibly mention in one sentence! ;)</p>
                    <p>PS: Learning to implement more tools to scale this application.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>How I Did It</h5>
                    <hr>
                    <p>Displaying a shop listing tools for terrace farming.</p>
                    <p>Displaying an page for providing information.</p>
                    <p>Displaying new notices and info about programs.</p>
                    
                    

                    <!-- <p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference.</p>
                    -->
                </div>
            </div>
            <div></div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Project Goals</h5>
                <hr>
                <p>Promote Terrace farming</p>
                <p>Provide Information</p>
                <p>Aware farmers about programs and notice</p>

                

                </div>
            </div>
        </div>
        <br>
    </div>

    <hr style="height:8px;border-width:0;color:gray;background-color:black"/>
      
      </h3>
      © 2021 KAMAT Corporation. All Rights Reserved.<br/><br/>
</body>
{% endblock content %}
