{% extends "blog/base.html" %}
{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'blog\main.css' %}">
    <div class="box-element product"><p><strong>Kamat /</strong> Contact</p></div><br>
    <hr><br>
    <center><div ><h3>
    Head Office 
    </h3><hr></div><div class="thumbnail"><h3> Balaju, Kathmandu<br>Contact: 98623343434<br>
    Email: info@kamat.com<br></center><hr></h3></div>
    <br/><br/><hr style="height:8px;border-width:0;color:gray;background-color:black"/>
      
      </h3>

      <center>© 2021 KAMAT Corporation. All Rights Reserved.
            </center>
{% endblock content %}
